.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectors {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 33%;
}

ul.list {
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
}
  
